<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Investing in Innovation-Driven Local Communities</h3>
                    <p>We're Investment Management and Advisory Commercial Real Estate experts with an entrepreneurial mindset and women at the helm. We serve the Pacific Northwest market as a local and experienced firm focusing on socially responsible commercial real estate investments. Simply put, we invest with care.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="section-subheading text-muted">Who We Are</h4>
                    <p>We are a fully integrated Seattle real estate investment, development, management, and advisory firm. Driven by our core values, we practice socially responsible investing. Servicing the Pacific Northwest market, the Bay Area, and Colorado, as an experienced firm focusing on socially responsible real estate investments.</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="section-subheading text-muted">Our Solution</h4>
                    <p>Anticipate Tomorrow, Build Today. Innmovare invests in projects that anticipate tomorrow's demographicv, cultural, and technological shifts. Our team's experience in acquiring and developing commercial real estate projects in the Seattle market and across the country has shown our mastery of the fundamentals. Now, Innovare will focus on building future-ready projects by anticipating the following trends:</p>
                    <h5>Demographic, Data and Predictive Analytics</h5>
                    <p>We explore tools for more informed location, investment, and tenant decision</p>
                    <h5>People & Planet</h5>
                    <p>We invest in humand centric and planet conscious projects. People are at teh core of what we do. We offer a variety of resources including tenant curation and purposeful location establishment that is inclusive and community oriented.</p>
                </div>
            </div>
        </div>
    </section>